.frame {
  /* Variables */
  --corner-color: #f2a33b;
  --corner-length: 1.5rem;
  --corner-thickness: 3px;
  --frame-background-color: transparent;

  background:
    /* Top Left */
    linear-gradient(var(--corner-color), var(--corner-color)) top left /
      var(--corner-length) var(--corner-thickness) no-repeat,
    linear-gradient(var(--corner-color), var(--corner-color)) top left /
      var(--corner-thickness) var(--corner-length) no-repeat,
    /* Top Right */ linear-gradient(var(--corner-color), var(--corner-color))
      top right / var(--corner-length) var(--corner-thickness) no-repeat,
    linear-gradient(var(--corner-color), var(--corner-color)) top right /
      var(--corner-thickness) var(--corner-length) no-repeat,
    /* Bottom Left */ linear-gradient(var(--corner-color), var(--corner-color))
      bottom left / var(--corner-length) var(--corner-thickness) no-repeat,
    linear-gradient(var(--corner-color), var(--corner-color)) bottom left /
      var(--corner-thickness) var(--corner-length) no-repeat,
    /* Bottom Right */ linear-gradient(var(--corner-color), var(--corner-color))
      bottom right / var(--corner-length) var(--corner-thickness) no-repeat,
    linear-gradient(var(--corner-color), var(--corner-color)) bottom right /
      var(--corner-thickness) var(--corner-length) no-repeat,
    var(--frame-background-color);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  gap: 12px;
  width: 100%;
  max-width: calc(1146px + 0.5rem);
  height: fit-content;
  padding: 0.5rem;
  box-sizing: border-box;
}
