.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 4.5px;
  background-color: #000000;
  background-image: url('@/assets/IMGs/inputBG.png');
  background-repeat: repeat-x;
  border-radius: 4px;
  background-size: contain;
  color: #fff;
  border: none;
}

.inputContainer::placeholder {
  color: #b1b1b1;
}

@media (max-width: 768px) {
  .inputContainer {
    padding: 8px 4px;
    font-size: 12px;
  }
}
