.inputsContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: fit-content;
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button {
  width: 100%;
  background: none;
  color: var(--main-color);
  border: var(--main-color) 1px solid;
  padding: 8px 16px;
}

.button:hover {
  border: rgb(0, 0, 0) 1px solid;
  background-color: var(--main-color);
  color: rgb(0, 0, 0);
}

input[type='color'] {
  background-color: black;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
}

.racingButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.generate {
  font-size: 18px;
  align-self: stretch;
}

.full-race {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 26px 68px;
  width: 100%;
  max-width: 1146px;
  height: fit-content;
}

.race {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: fit-content;
}

.race-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 26px 18px;
  width: 100%;
  height: fit-content;
  background-color: var(--background-color);
}

.roads {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: fit-content;
}

.finish-line {
  width: 68px;
  align-self: stretch;
  background-image: url('@/assets/images/finishLine.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

.winnerBox {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 250px;
  background-color: rgb(109, 109, 109);
  transform: translate(-50%, -50%);
  z-index: 999;
  color: white;
}
.winnerBox > p {
  font-weight: bold;
  font-size: 20px;
}
.closeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  width: 50px;
  right: 10px;
  padding: 10px;
  font-size: 18px;
  aspect-ratio: 1/1;
  font-weight: bold;
  color: white;
  background-color: rgb(197, 18, 18);
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgb(126, 22, 22);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 4px 2px;
  width: 100%;
  height: fit-content;
  background-color: var(--background-color);
  color: var(--main-color);
}

.turn-page {
  color: var(--main-color);
  font-weight: bold;
  padding: 10px;
}

.turn-page:disabled {
  color: rgba(0, 0, 0, 0.5);
}

.turn-page:disabled:hover {
  background-color: var(--background-color);
  opacity: 0.5;
}

.turn-page:hover {
  background-color: var(--background-color);
}

@media (max-width: 1128px) {
  .inputGroup {
    width: 100%;
  }
  input[type='text'] {
    width: 100%;
  }
  .inputsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .editor {
    width: 100%;
  }

  .button {
    padding: 12px;
    width: 100%;
  }
  .racingButtons {
    flex-direction: row;
  }
  .generate {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 610px) {
  .turn-page {
    font-size: 8px;
  }
  p {
    font-size: 8px;
  }
}
