main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 4px 2px;
  width: 100%;
  height: fit-content;
  background-color: var(--background-color);
  color: var(--main-color);
}
.nav > p {
  font-weight: bold;
  padding: 10px;
}

.turn-page:hover {
  background-color: var(--background-color);
}
